@define-color foreground #ccc7c7;
@define-color background #332121;
@define-color cursor #ccc7c7;

@define-color color0 #332121;
@define-color color1 #D77151;
@define-color color2 #FA8B3A;
@define-color color3 #BF9D67;
@define-color color4 #F4A05D;
@define-color color5 #927290;
@define-color color6 #C9B4B7;
@define-color color7 #ccc7c7;
@define-color color8 #7f6868;
@define-color color9 #D77151;
@define-color color10 #FA8B3A;
@define-color color11 #BF9D67;
@define-color color12 #F4A05D;
@define-color color13 #927290;
@define-color color14 #C9B4B7;
@define-color color15 #ccc7c7;
