@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

window#waybar {
    background: alpha(@background,.25);
    border: 3px solid @color3;
    border-radius: 12px;
    min-width:36px;
}


tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 12px;
    border-radius: 12px;
    border: 2px solid @color6;
}

#workspaces {
    /*background: alpha(@background,0.4);*/
    padding:4px 2px;
    margin: 0px 4px;
    font-size:22px;
    color: @color0; 
}

#workspaces button {
    background-color: transparent;
    color: @color11; 
    border-radius: 0px;
    transition: 0.2s ease;
    padding:inherit;
    margin:inherit;
    font-size:inherit;
}

#workspaces button.active {
   /*  background: alpha(@color7,.5);
    border-radius:50px;
    color: @color11; 
    padding:12px 4px;
    margin:0px 2px;
    transition: all 0.3s ease; */
    color: @color11; 
/*    border-left:2px solid @foreground;
    padding:1em 4px;
    padding:inherit;
    margin:inherit;
    font-size:inherit;*/
}

#workspaces button:hover {
    background: none;
    box-shadow: inherit;
    color: @color6; 
    /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */
}

#workspaces button.empty {
   /*  background: alpha(@color7,.5);
    border-radius:50px;
    color: @color11; 
    padding:12px 4px;
    margin:0px 2px;
    transition: all 0.3s ease; */
    color: @background; 
/*    border-left:2px solid @foreground;
    padding:1em 4px;
    padding:inherit;
    margin:inherit;
    font-size:inherit;*/
}

#custom-empty_workspace {
    background: alpha(@background,0);
    color: @foreground;
    border-radius:0px;
    border:none;
    padding:2px 0px 8px 8px;
    margin: 12px 4px -4px 4px;
    font-size:16px;
}

#tray,#custom-menu {
    /* min-height: 16px; */
    /* font-weight: bold; */
    font-size: 20px;
    color: @foreground;
}

#custom-menu{
    padding:4px;
}

#custom-clockH,#custom-clockM,#custom-clockD {
    color: @color3; 
    font-size: 28px;
    font-weight: 900;
    font-family: "HeavyData Nerd Font";
    background: alpha(@color11,0.25);
    margin:0px;
    padding:4px 0px;
}

#pulseaudio {
    font-weight: normal;
    font-size: 18px;
    color: @color6; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
}

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: @color2; 
}

#custom-gpuinfo,
#memory {
    font-weight: normal;
    font-size: 22px;
    color: @foreground; 
}

#mpris {
    color: @background;
    font-size:24px;
    margin-left:8px;
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes blink {
    to {
        color: @color9;
    }
}
*/

#backlight-slider slider,
#pulseaudio-slider slider {
    color:transparent;
    background: transparent;
    border: none;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 1.5em;
    min-height: 80px;
    border-radius: 12px 32px;
    background: @color0; 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 12px 32px ;
    background-color: @color6; 
}

#battery.charging,
#battery.plugged {
    color: @color3; 
}

#battery.critical:not(.charging) {
    color: @color9; 
}

#custom-expand {
    min-width: 25px;
    color: @background; 
    font-size: 16px;
}


/*    icons   */
#idle_inhibitor,#custom-notification,#network,#pulseaudio,#backlight,#battery,#upower{
    font-size: 20px;
    color: @color0;
    padding:0.5em;
}

#leftwrap { 
    background: alpha(@color3,0.35);
    margin-top: 0px;
    border-radius: 12px 12px 32px 2px;
    padding-bottom:0.5rem;
}

#rightwrap { 
    background: alpha(@color3,0.35);
    margin-top: 0px;
    border-radius: 2px 32px 12px 12px;
    padding-top:0.5rem;
}

#custom-appmenu,#custom-logout{
    font-size: 24px;
    color: @background;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: alpha(@color3,1);
    /*color: @foreground;
    padding: 0.1em 0.35em 0.1em 0.2em;*/
}
#window{
    padding: 1em 0.5em;
    margin: 0px 4px;
    border:none;
    border-radius: 12px;
  /*  background-image: radial-gradient( alpha(@background,0.5) 90%, @color7);
*/
}
#custom-clockD{
  color: @color3;
  background: alpha(@color11,0.25);
    font-size:21px;
}
#custom-colon{
  color:@color3;
  font-size:28px;
  background: alpha(@color11,0.25);
  margin: 0px;
}

#custom-appmenu{
    margin-top: 2px;
    border-radius: 12px 12px 32px 2px;
}

#custom-logout{
    margin-bottom: 2px;
    border-radius: 2px 32px 12px 12px;
}
window#waybar.empty #window {
    background: transparent;
}
#custom-notification { 
    background: alpha(@color11,0.5);
    color:@background;
    border-radius:2px;
    padding-bottom:0.75rem;
    margin:0px 2px;
    border-radius: 2px 2px 32px 12px;
}
#idle_inhibitor { 
    background: alpha(@color11,0.5);
    color:@background;
    border-radius: 2px;
    padding-top: 0.75rem;
    margin:0px 2px;
    padding-left:0.2rem;
    border-radius: 12px 32px 2px 2px;
}

