* {
  background : #232136;
  bgtr : #23213688;
  background-alt : #2a273f;
  foreground : #e0def4;

  primary : #393552;
  secondary : #3e8fb0;

  alert : #eb6f92;
  disabled : #ea9a97;
  //disabled : #6e6a86;

  primary-container : #44415a;
  on-primary-container : #c4a7e7;

  surface : #232136;
  on-surface : #e0def4;

  error : #eb6f92;
  bordline : #6e6a86;
}
