
    $background: #19120d;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #382f28;

    $inverse_primary: #895120;

    $inverse_surface: #f0dfd6;

    $on_background: #f0dfd6;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #4e2600;

    $on_primary_container: #ffdcc4;

    $on_primary_fixed: #2f1400;

    $on_primary_fixed_variant: #6d3a09;

    $on_secondary: #422b1a;

    $on_secondary_container: #ffdcc4;

    $on_secondary_fixed: #2a1707;

    $on_secondary_fixed_variant: #5b412f;

    $on_surface: #f0dfd6;

    $on_surface_variant: #d6c3b7;

    $on_tertiary: #2f330c;

    $on_tertiary_container: #e2e7af;

    $on_tertiary_fixed: #1a1d00;

    $on_tertiary_fixed_variant: #454a20;

    $outline: #9f8d82;

    $outline_variant: #51443b;

    $primary: #ffb780;

    $primary_container: #6d3a09;

    $primary_fixed: #ffdcc4;

    $primary_fixed_dim: #ffb780;

    $scrim: #000000;

    $secondary: #e4bfa7;

    $secondary_container: #5b412f;

    $secondary_fixed: #ffdcc4;

    $secondary_fixed_dim: #e4bfa7;

    $shadow: #000000;

    $source_color: #ce8c58;

    $surface: #19120d;

    $surface_bright: #413731;

    $surface_container: #261e18;

    $surface_container_high: #312822;

    $surface_container_highest: #3c332d;

    $surface_container_low: #221a14;

    $surface_container_lowest: #140d08;

    $surface_dim: #19120d;

    $surface_tint: #ffb780;

    $surface_variant: #51443b;

    $tertiary: #c6ca95;

    $tertiary_container: #454a20;

    $tertiary_fixed: #e2e7af;

    $tertiary_fixed_dim: #c6ca95;
