@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
    transition: all .3s ease-out;
}

window#waybar {
    background:alpha(@background,0);
    border-radius: 60px;
}

tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 13px;
    border-radius: 12px;
    border: 2px solid @color6;
    margin: 6px;

}

#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: @foreground; 
}

#tray menu separator {
    min-height: 10px;
}

#custom-spacer {
    opacity: 0.8;
}

#custom-smallspacer {
    opacity: 0.8;
}

#custom-power {
    font-size: 15px;
    color: @foreground; 
    background: rgba(40, 40, 40, 0.9);
    margin: 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#mpris {
    color: @foreground; 
    background: alpha(@background,0.5);
    font-weight: bold;
    margin: 8px 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius:60px;
    border:2px solid @color3;
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

 @keyframes blink {
    to {
        color: @color9;
    }
}


#network {
    color: @foreground; 
    font-weight: normal;
    font-size: 19px;
    padding-right: 0px;
    padding-left: 4px;
}

#tray {
    color: @foreground; 
}

#upower#headset
{    color: @color5; 
}

#custom-rr_end {
    font-weight: normal;
    color: @foreground; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background-color: transparent;
    border:none;
    box-shadow: none;
    margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 90px;
    min-height: 24px;
    border-radius: 60px;
    background: alpha(@background,0.5); 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 60px;
    background-image: radial-gradient(circle farthest-side at left center, @color1, @color6 60px, @color3);
}

#battery.charging,
#battery.plugged {
    color: @background; 
}

#battery.critical:not(.charging) {
    color: @color9; }

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-expand {
    min-width: 25px;
    color: @foreground; 
    font-size: 16px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5px;
}

#custom-appmenu {
    color: alpha(@background,1);
    background: alpha(@color6,0.75);
    /* background-image: linear-gradient(to left, @color1, @color6); */
    font-size: 24px;
    padding-left: 20px;
    padding-right: 6px;
    margin-top:8px;
    margin-bottom:8px;
    border-radius:60px 0px 0px 60px;
}

#window,#idle_inhibitor,#network,#backlight,#pulseaudio,#battery,#custom-notification {
    color: @color0; 
    /* background-image: radial-gradient(circle farthest-side at left, @color3, @color6 60px); */
    /*linear-gradient(to right, @color1, @color0);*/
    background:alpha(@color6,0.75);
    border-radius:60px 2px 2px 60px;
    border:none;
    font-weight: normal;
    font-size: 19px;
    margin: 8px 0px;
    padding-left: 0px;
    padding-right: 2px;
}

#custom-empty_workspace,#custom-closer,#clock,#custom-nettext,#custom-pulseaudiotxt,#custom-backlighttxt,#custom-battxt,#custom-logout{
    color: @background;
    /*background: alpha(@background, 0.25);*/
    /* background-image: linear-gradient(to right, @color3, @color6); */
    background:alpha(@color6,0.6);
    border-radius:2px 60px 60px 2px;
    /* border:2px solid @background; */
    border:none;
    margin: 8px 0px;
    padding-left: 10px;
    padding-right: 10px;}

#workspaces button.active {
    background: alpha(@foreground,0);
    color: @color6; 
    transition: all 0.3s ease;
    margin: 4px 0px;
    padding: 0px 10px 0px 8px;
    border-radius: 60px;
}
#workspaces{
    color: @foreground; 
    background: alpha(@background, 0.25);
    border-radius:60px;
    border:none;
    margin:8px 0px;
    padding:0px 6px;
}
#window,#custom-closer{
  color: @color6;
  background:transparent;
  border:4px double @color3;
  /* background-image: linear-gradient(to right, @color1 3em, @color6); */
  padding: 0px 8px 0px 8px;
}
#custom-logout,#custom-notification{
  font-size: 20px;
}
#custom-empty_workspace{
    border-left:none;
    margin: 8px 0px;
    font-size:18px;
    padding-left:0.7rem;
    padding-right:1rem;
}

/*.modules-left, .modules-right, .modules-center{*/
.modules-center{
  background: alpha(@color0,0.35);
  padding: 0px;
  margin:0px;
  border-radius: 60px;
  border: 3px solid alpha(@color3,1);
}

#idle_inhibitor,#clock{
    color: @foreground;
    background: alpha(@background, 0.75);
    border:none;
}
#custom-closer{
    border-left:none;
}
#window{
    border-right:none;
}
window#waybar.empty #window{
    border:none;
    margin: 0px;
    padding: 0px;
}
