HyprlandScripts/ChromiumPywal/
/X11Scripts/wal colors copied
X11Scripts/todo.txt
.config/matugen/templates/neovim/README.md
.config/nvim/lazy-lock.json
.config/nvim/lazy-lock.json
.config/alacritty/colors.toml
.config/eww/colors.scss
.config/fuzzel/colors.ini
.config/hypr/colorshypr.conf
.config/i3/colors.Xresources
.config/kitty/colors.conf
.config/niri/colors.kdl
.config/waybar/colors.css
.config/wlogout/colors.css
.config/zed/themes/matugen.json
.config/themes/active
.config/themes/Rose.png
.config/themes/Emerald.png
.config/themes/Cyan.png
.config/themes/Catppuccin.png
.config/themes/Rose/wallpapers/current
.config/themes/Cyan.png
.config/alacritty/colors.toml
.config/eww/colors.scss
.config/fuzzel/colors.ini
.config/zed/themes/matugen.json
.config/wlogout/colors.css
.config/waybar/style.css
.config/waybar/config.jsonc
.config/waybar/colors.css
.config/themes/Golden/wallpapers/current
.config/themes/Catppuccin/wallpapers/current
.config/swaync/colors.css
.config/rofi/colors.rasi
.config/niri/colors.kdl
.config/kitty/colors.conf
.config/zed/themes/matugen.json
.config/wlogout/colors.css
.config/waybar/style.css
.config/waybar/config.jsonc
.config/waybar/colors.css
.config/themes/Golden/wallpapers/current
.config/themes/Golden.png
.config/themes/Catppuccin/wallpapers/current
.config/themes/Catppuccin.png
.config/swaync/colors.css
.config/rofi/colors.rasi
.config/nvim/lua/matugen/base16.lua
.config/niri/colors.kdl
.config/kitty/colors.conf
.config/i3/colors.Xresources
.config/hypr/colorshypr.conf
.config/fuzzel/colors.ini
.config/eww/colors.scss
.config/alacritty/colors.toml
/.config/gtk-4.0/assets
/.config/gtk-4.0/windows-assets
.config/alacritty/colors.toml
.config/bspwm/colors-polybar
.config/eww/colors.scss
.config/eww.old-goth/colors.scss
.config/eww/colors.scss
.config/fuzzel/colors.ini
.config/nvim/.neoconf.json
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
/.config/qtile/__pycache__
/.config/rofi/icons/recolored
/X11Scripts/colors
/X11Scripts/colors
X11Scripts/current_theme
X11Scripts/currWall
X11Scripts/wallpapers
.config/wlogout/colors.css
.config/themes/Mudwash/wallpapers/current
.config/themes/Rose/wallpapers/current
.config/eww.fullbar/colors.scss
.config/eww.old-goth/colors.scss
.config/eww/colors.scss
.config/eww/eww/colors.scss
/.config/eww/eww
.config/mango/binds.conf.bk
HyprlandScripts/rofistyles/colors.json
.config/themes/Mudwash.png
.config/themes/Golden/wallpapers/current
.config/themes/Golden.png
.config/themes/Emerald.png
.config/themes/Cyan/wallpapers/current
.config/themes/Cyan.png
.config/themes/Crimson/wallpapers/current
.config/themes/Crimson.png
.config/themes/Catppuccin/wallpapers/current
.config/themes/Catppuccin.png
.config/themes/Blue/wallpapers/current
.config/themes/Blue.png
.config/swaync/colors.css
.config/mango/colors.conf
.config/eww/colors.scss
.config/alacritty/alacrittyCachyOs.toml
.config/alacritty/colors.toml
/.config/autostart
.config/fish/conf.d/fish_frozen_theme.fish
.config/fish/conf.d/fish_frozen_key_bindings.fish
.config/fish/fish_variables
.config/fish/fish_variables.txt
.config/gtk-3.0/colors.css
.config/gtk-4.0/colors.css
/.config/kitty/kitty-old
.config/nvim/lua/matugen/base16.lua
.config/polybar/colors-polybar
.config/qtile/colors.py
.config/rofi/icons/recolored/region.svg
.config/rofi/icons/recolored/window.svg
.config/rofi/icons/recolored/fullscreen.svg
.config/rofi/icons/recolored/clipboard.svg
.config/eww/eww.scss
.config/eww/eww.yuck
.config/eww/colors.scss
.config/eww/colors.scss
.config/eww/eww.yuck
.config/eww/eww.scss
.config/eww/colors.scss
.config/eww/colors.scss
.config/eww/eww.scss
.config/eww/eww.yuck
