@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-out;
}

window#waybar {
    background: alpha(@background, 0.25);
    border-radius: 2px;
    border: 2px solid; /*6px*/
    border-color: alpha(@color3,0.5);
}

tooltip {
    background: @background;
    color: @foreground;
    font-size: 12px;
    border-radius: 12px;
    border: 1px solid @color6;
    /* border:none; */
    padding: 12px;
}

#custom-appmenu,
#custom-logout {
    font-size: 22px;
    color: @color3;
    background: alpha(@color12, 0.15);
    padding: 0px 16px;
    margin: 4px;
    border-radius: 4px;
}

#clock {
    color: @color7;
    margin: 2px 14px;
}

#idle_inhibitor,
#custom-notification,
#network,
#backlight,
#pulseaudio,
#battery,
#upower {
    color: @foreground;
    background: inherit;
    margin: 2px 8px;
    font-size: 18px;
}

#custom-empty_workspace,
#custom-closer,
#custom-nettext,
#custom-pulseaudiotxt,
#custom-backlighttxt,
#custom-battxt {
    color: @foreground;
    background: none;
    margin: 2px;
    font-size: inherit;
}

/*#workspaces button {
    color:alpha(@color7,0.5);
    background: transparent;
    border:none;
}
#workspaces{
    color: @foreground;
    background: transparent;
    border:none;
    padding: 2px 6px;
    font-size: inherit;
    margin-left:10px;
    margin-right:10px;
}

#workspaces button:not(.empty) {
    color:alpha(@foreground,1);
}

#workspaces button.active {
    color: @color3;
    border-radius: 2px;
    margin: 4px;
}*/

#workspaces {
    padding: 0px 12px;
    margin: 2px 8px;
    background-color: alpha(@color0, 0.25);
    border-radius: 4px;
    /*transition: all 0.2s ease-out;*/
}

#workspaces button {
    color: transparent;
    background-color: alpha(@color0, 0.75);
    min-width: 2px;
    padding: 0px 2px;
    margin: 8px 4px;
}

#workspaces button:not(.empty) {
    background-color: alpha(@color3, 0.25);
}

#workspaces button.active {
    color: @color7;
    background: @color3;
    /*padding: 0px 12px;*/
    border-radius: 60px;
    /*transition: all 0.2s ease-out;*/
}

#backlight-slider,
#pulseaudio-slider {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 3px;
    margin-bottom: 3px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    /* background-image: radial-gradient(ellipse at center,@foreground 0%, @color6 100%); */
    background: @color3;
    border-radius: 50px;
    border: none;
    min-width: 8px;
    min-height: 10px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 5em;
    min-height: 4px;
    border-radius: 50px;
    background: @color0;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 50px 0px 0px 50px;
    background-color: @color6;
    min-height: 4px;
}

#window {
    font-size: inherit;
    color: @color3;
    background: transparent;
    padding: 0px 24px;
    margin: 6px 12px;
    /* border-left:1px solid; */
    /* border-right:1px solid; */
}

window#waybar.empty #window {
    background: transparent;
    padding: 0px;
    margin: 0px;
}

#battery.critical {
    color: @color2;
}

#custom-appmenu {
    margin-left: 20px;
}

#custom-logout {
    margin-right: 20px;
}

#expand-3,
#expand-2 {
    margin-left: -2px;
    margin-right: 4px;
}

#pulseaudio {
    margin-left: 0px;
}

#idle_inhibitor {
    font-size: 16px;
}

#custom-notification,
#idle_inhibitor.activated {
    color: @color3;
}
