
    $background: #151217;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #332f35;

    $inverse_primary: #705289;

    $inverse_surface: #e8e0e8;

    $on_background: #e8e0e8;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #3f2358;

    $on_primary_container: #f1daff;

    $on_primary_fixed: #290c41;

    $on_primary_fixed_variant: #573a70;

    $on_secondary: #372c3f;

    $on_secondary_container: #eeddf6;

    $on_secondary_fixed: #211829;

    $on_secondary_fixed_variant: #4e4256;

    $on_surface: #e8e0e8;

    $on_surface_variant: #cdc4ce;

    $on_tertiary: #4c252a;

    $on_tertiary_container: #ffd9dc;

    $on_tertiary_fixed: #321016;

    $on_tertiary_fixed_variant: #663a3f;

    $outline: #968e98;

    $outline_variant: #4b454d;

    $primary: #dcb9f8;

    $primary_container: #573a70;

    $primary_fixed: #f1daff;

    $primary_fixed_dim: #dcb9f8;

    $scrim: #000000;

    $secondary: #d1c1d9;

    $secondary_container: #4e4256;

    $secondary_fixed: #eeddf6;

    $secondary_fixed_dim: #d1c1d9;

    $shadow: #000000;

    $source_color: #c7b0d7;

    $surface: #151217;

    $surface_bright: #3c383e;

    $surface_container: #221e24;

    $surface_container_high: #2c292e;

    $surface_container_highest: #373339;

    $surface_container_low: #1e1a20;

    $surface_container_lowest: #100d12;

    $surface_dim: #151217;

    $surface_tint: #dcb9f8;

    $surface_variant: #4b454d;

    $tertiary: #f3b7bc;

    $tertiary_container: #663a3f;

    $tertiary_fixed: #ffd9dc;

    $tertiary_fixed_dim: #f3b7bc;
