
    $background: #19120c;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #382f28;

    $inverse_primary: #88511e;

    $inverse_surface: #efe0d6;

    $on_background: #efe0d6;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #4d2600;

    $on_primary_container: #ffdcc3;

    $on_primary_fixed: #2f1500;

    $on_primary_fixed_variant: #6c3a07;

    $on_secondary: #422c1a;

    $on_secondary_container: #ffdcc3;

    $on_secondary_fixed: #2a1707;

    $on_secondary_fixed_variant: #5a422e;

    $on_surface: #efe0d6;

    $on_surface_variant: #d6c3b6;

    $on_tertiary: #2e330d;

    $on_tertiary_container: #e1e7b0;

    $on_tertiary_fixed: #1a1e00;

    $on_tertiary_fixed_variant: #454a21;

    $outline: #9e8e82;

    $outline_variant: #51443b;

    $primary: #ffb77d;

    $primary_container: #6c3a07;

    $primary_fixed: #ffdcc3;

    $primary_fixed_dim: #ffb77d;

    $scrim: #000000;

    $secondary: #e3c0a6;

    $secondary_container: #5a422e;

    $secondary_fixed: #ffdcc3;

    $secondary_fixed_dim: #e3c0a6;

    $shadow: #000000;

    $source_color: #735a47;

    $surface: #19120c;

    $surface_bright: #413731;

    $surface_container: #261e18;

    $surface_container_high: #312822;

    $surface_container_highest: #3c332c;

    $surface_container_low: #221a14;

    $surface_container_lowest: #140d08;

    $surface_dim: #19120c;

    $surface_tint: #ffb77d;

    $surface_variant: #51443b;

    $tertiary: #c5cb96;

    $tertiary_container: #454a21;

    $tertiary_fixed: #e1e7b0;

    $tertiary_fixed_dim: #c5cb96;
