
    $background: #171217;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #352f34;

    $inverse_primary: #7b4e7f;

    $inverse_surface: #eadfe6;

    $on_background: #eadfe6;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #48204e;

    $on_primary_container: #ffd6fe;

    $on_primary_fixed: #310938;

    $on_primary_fixed_variant: #613766;

    $on_secondary: #3b2b3c;

    $on_secondary_container: #f4dbf1;

    $on_secondary_fixed: #251726;

    $on_secondary_fixed_variant: #534153;

    $on_surface: #eadfe6;

    $on_surface_variant: #d0c3cc;

    $on_tertiary: #4c251f;

    $on_tertiary_container: #ffdad4;

    $on_tertiary_fixed: #33110c;

    $on_tertiary_fixed_variant: #673b34;

    $outline: #998d96;

    $outline_variant: #4d444c;

    $primary: #ebb5ed;

    $primary_container: #613766;

    $primary_fixed: #ffd6fe;

    $primary_fixed_dim: #ebb5ed;

    $scrim: #000000;

    $secondary: #d7bfd5;

    $secondary_container: #534153;

    $secondary_fixed: #f4dbf1;

    $secondary_fixed_dim: #d7bfd5;

    $shadow: #000000;

    $source_color: #c8a4c8;

    $surface: #171217;

    $surface_bright: #3e373d;

    $surface_container: #231e23;

    $surface_container_high: #2e282d;

    $surface_container_highest: #393338;

    $surface_container_low: #1f1a1f;

    $surface_container_lowest: #110d11;

    $surface_dim: #171217;

    $surface_tint: #ebb5ed;

    $surface_variant: #4d444c;

    $tertiary: #f6b8ae;

    $tertiary_container: #673b34;

    $tertiary_fixed: #ffdad4;

    $tertiary_fixed_dim: #f6b8ae;
