@import url("colors-waybar.css");
* {
    font-family: "Firacode Nerd Font";
    font-weight: bold; 
    font-size: 18px;
    transition: all 0.2s ease-out;
}

#waybar{
    background: alpha(@background,0.5);
    background: alpha(@background,.8);
}

/* icons fontsize*/
#custom-appmenu,#battery,#network,#pulseaudio,#backlight,#idle_inhibitor{
    font-size: 22px;
    margin: 4px 8px;
    color: @foreground;
}

#custom-notification {
    color:@color1;
    font-size: 22px;
    margin: 4px 8px;
}

/*taskbar settings*/
#taskbar {
    margin: 2px 14px 0px 14px;
}

#taskbar button {
    box-shadow: none;
    padding-left: 14px;
    padding-right: 14px;
    margin: 4px 8px;
}

#taskbar button.active {
    background: alpha(@color6,0.25);
    color: @foreground; 
    margin-left: 4px;
    margin-right: 4px;
    border-radius:8px;
    /*transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);*/
    transition: all 0.3s ease-out;
   /* border-bottom:4px solid @foreground;
    transition: border-bottom-color 0.3s ease-in, border-bottom-width 0.3s ease-in;*/
}

#taskbar button:hover {
    background: @color3;
    color: @foreground; 
    transition: all 0.2s ease-out;
}

/*date style*/
#clock,#custom-date,#custom-nettext,#workspaces,#upower{
    font-size: 14px;
    color: @foreground;
    padding:2px 0px 2px 0px;
    margin: 2px 4px 0px 4px;
}

/* sliders*/
#backlight-slider slider,
#pulseaudio-slider slider {
    /*box-shadow: none;
    margin-right: 7px; */
    /* background: @foreground; */
    background: transparent;
    border:none;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 100px;
    min-height: 18px;
    margin-bottom: -4px;
    border-radius: 1.5em;
    background: @color0;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 1.5em;
    background-color: @color6;
}

#custom-appmenu{
    font-size: 32px;
    color: @color1;
    /*color: @color6;*/
    padding: 0px 8px 0px 8px;
    margin: 0px 0px 0px 16px;
}

#custom-closer{
    font-size: 28px;
    color: @color3;
    padding: 2px 4px 0px 4px;
    margin: 0px 0px 0px 8px;
}

#workspaces button.active{
    color: @color3;
    font-size:22px;
    border-radius:0px;
    margin: 0px 0px 0px 16px;
    padding: 0px 0px 0px 8px;
}

#custom-empty_workspace{
    color: @color3;
    margin-right:1rem;
}

#mpris{
  font-family: "jetbrains nerd font mono";
  font-weight: 700;
  font-size: 16px;
  color:@color7;
  background: alpha(@color3,0.25);
  border-radius:12px;
  border:none;
  margin:10px;
    padding: 0px 10px;
}
