@import url("colors-waybar.css");

* {
    font-family: "JetBrains Mono Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
}

#waybar {
    background: alpha(@color8, 0.4);
    border: 2px solid @color3;
    padding:1rem;
    border-radius: 16px;
}

#leftside,
#centerside,
#rightsie {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

window#waybar.empty #window {
    background: none;
}

#window,
#custom-window {
    color: @color7;
    background: inherit;
    margin: 0px;
    margin-left: .5rem;
    padding: 0px .5rem;
    font-weight: 800;
    font-size: larger;
}

#workspaces {
    background: alpha(@background, 0.25);
    color: @color7;
    /* box-shadow: none;
    text-shadow: none; */
    border-radius: 6px;
    transition: 0.2s ease;
    padding: 2px 4px;
    margin: 4px 14 4 4;
}

#workspaces button:not(.empty) {
    background-color: alpha(@background, 0.65);
    color:alpha(@color3,0.85);
}

#workspaces button {
    background-color: alpha(@color0, 0.25);
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    padding: 0 8 0 10;
    margin: 2px;
    border-radius: 6px;
}

#workspaces button.active {
    background: alpha(@color3, 0.25);
    color: alpha(@color11, 1);
    transition: all 0.3s ease-in;
    margin: 2px;
    padding: 0 20;
    border: 2px solid alpha(@color15, .25);
    border-radius: 6px;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    color: inherit;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

/*
#workspaces button.focused {
    background-color: @color2; 
}
 */
#clockk {
    color: inherit;
  /*  background: alpha(@color0, 0.25);*/
    padding: 0 0;
    margin: 4 0;
    margin-right:6px;
    border-radius: 6px;
}

#clock {
    background: inherit;
    padding: 0 12;
}

#custom-date {
    padding: 0 12;
}

#idle_inhibitor{
    color: inherit;
    font-size: 20px;
  /*  background: alpha(@color0, 0.25);
    padding: 0 12;
    margin: 4 0;
    border-radius: 6px;*/
  padding-left: 10px;
  padding-right: 10px;
  margin:0px;
}

#battery {
    color: inherit;
    font-size: 20px;
  /*  background: alpha(@color0, 0.25);
    border-radius: 6px;*/
  padding-left: 10px;
  padding-right: 10px;
  margin:0px;
}

#idle_inhibitor.activated {
    color: @color3;
    background: alpha(@color8, 0.18);
}

#expand-Bat {
    margin-left: 6;
}

#upower,
#upower-headset {
    color: inherit;
  /*  background: alpha(@color0, 0.25);*/
    padding: 0 12;
    margin: 4 0;
    border-radius: 6px;
}

#battery.critical:not(.charging) {
    color: @color9;
}

#network,
#bluetooth,
#pulseaudio,
#custom-logout,
#custom-notification {
    font-size: 20px;
    background: inherit;
    color: @color7;
    margin: 4px 0px;
    padding: 0px 8px;
    border-radius: 0px;
}

#leftside {
    padding-left: 12;
    padding-right: 12;
    margin-left: 0rem;
    background: alpha(@color0, 0.25);
    margin-top:4px;
    padding-top:0px;
    margin-bottom:4px;
    padding-bottom:0px;
    border-radius: 16px 0px 0px 16px;
}

#rightside {
    padding-left: 12;
    padding-right: 12;
    margin-right: 0rem;
    background: alpha(@color0, 0.25);
    margin-top:4px;
    padding-top:0px;
    margin-bottom:4px;
    padding-bottom:0px;
    border-radius: 0px 16px 16px 0px;
}

#custom-window {
    text-shadow: 2px 2px 4px @color0;
}

#mpris {
    /*background: alpha(@background, 0.25);*/
    color: @color7;
    border-radius: 6px;
    margin: inherit;
    padding-left: 14px;
    padding-right: 14px;
}
#custom-music {
    /*background: alpha(@background, 0.25);*/
    color: @color7;
    border-radius: 0px 6px 6px 0px;
    margin: 0;
    padding: 2 12 2 8;
    border:2px solid @color3;
    border-left:none;
}

#mpris.playing {
    color: @color3;
}

#bluetooth{
    font-size: 21px;
    padding-right: 14px;
}

/*#bluetooth.connected{
    font-size: 6px;
    padding-right: 14px;
}*/

#battery,#idle_inhibitor,#mpris { 
    border:2px solid @color3;
    border-radius: 6px;
    padding-left:12px;
    padding-right:12px;
}

#idle_inhibitor{
    font-size:18px;
   /* padding-right: 14px;
    padding-left: 10px; */
}
#idle_inhibitor.deactivated{
    font-size:16px;
}
#expand-Bat,#idleclock,#musicplayer{
    background: alpha(@color0, 0.25);
    border-radius: 6px;
    padding: 0;
    margin: 4;
}

#battery.charging,
#battery.plugged,
#battery.full {
    color: @color3;
    background: alpha(@color8, 0.18);
}
#custom-menu {
    color:transparent;
    background-color: inherit;
    padding:4px;
    margin:0px .5rem;
}
