@import "./colors.scss";
$fg: $on_primary_container;
$surf: $primary_container;
$accent: $primary;
$icns: 18px;
$txt: 20px;
$panebg: darken($primary_container, 15%);
// Define invert-color function
@function invert-color($color) {
    @return rgb(255 - red($color), 255 - green($color), 255 - blue($color));
}

* {
    all: unset;
    margin: 0px;
    padding: 0px;
    font-family: "JetBrains Mono Nerd Font Propo";
    transition: all 0.4s ease-in;
}

.barcorner {
    color: transparent;
    padding: 24px;
    border: none;
    border-radius: 24px;
    background: none;
    background-color: transparent;

    &.top {
        box-shadow: -24px -24px 0px 0px $panebg;
    }

    &.bottom {
        box-shadow: -24px 24px 0px 0px $panebg;
    }

    &.topryt {
        box-shadow: 24px -24px 0px 0px $panebg;
    }

    &.bottomryt {
        box-shadow: 24px 24px 0px 0px $panebg;
    }
}

.panel {
    background: $panebg;
}

.mainbar {
    min-width: 32px;
    background: $panebg;
    border-radius: 0px 0px;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.launcher {
    color: $fg;
    font-size: $icns;
    border-radius: 8px;
    //min-width:12px;
    min-height: 12px;
    padding: 6px;
    margin: 4px;
    transition: all 0.5s ease-out;
    background: lighten($on_primary, 10%);
    &:hover {
        background: $surf;
        color: $inverse_surface;
    }
}

.clock {
    background: lighten($on_primary, 10%);
    font-size: $txt;
    margin: 8px 0px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font", monospace;
    // border: 1px solid $fg;
    border-radius: 6px;
    padding: 8px 4px;
}

.clock_hr {
    padding: 6px 0px;
    margin-bottom: 0.25rem;
    color: darken($on_primary_container, 10%);
    padding: 0px;
}

.clock_min {
    padding: 6px 0px;
    padding: 0px;
    color: darken($on_primary_container, 10%);
    margin-top: 0.25rem;
}

.clock_mer {
    color: darken($surf, 25%);
    margin: 0rem;
    padding: 0px;
    color: darken($on_primary_container, 10%);
    font-family: "JetBrains Mono Nerd Font", monospace;
}

.workspaces-bar {
    border-radius: 8px;
    //background: darken($surf, 7.5%);
    background: lighten($on_primary, 10%);
    padding: 4px;
    margin: 8px;
    min-width: 8px;
}

.ws {
    background: transparentize($background, 0.5);
    border-radius: 8px;
    transition: all 0.2s ease-out;
    padding: 4px 8px;
    margin: 2px 0px;

    &.active {
        color: invert-color($primary);
        background: darken($on_primary, 45%);
        border-radius: 8px;
    }

    &.inactive {
        color: transparent;
        transition: all 0.2s ease-out;
    }
}

// .wsbtn {
//   padding: 0px 4px;
// }

// .wstxt {
//   margin: 0px;
//   padding: 0px;
// }

.idler {
    font-size: $icns;
    margin: 8px 4px;
    padding: 4px 0px;
    border-radius: 8px;
    transition: all 0.3s ease;
    color: lighten($surf, 25%);
    background: inherit;

    &.disabled {
        background: transparentize($surf, 0.9);
        color: $fg;
        border: none;
    }

    &:hover {
        background: lighten($surf, 10%);
        color: $inverse_surface;
    }
}

.backlightbox,
.volumebox {
    background: lighten($on_primary, 10%);
    padding: 6px 4px;
    margin: 4px;
    border-radius: 8px;
}

.backlight_bar,
.volume_bar {
    min-height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    padding: 0px;
    transition: all 5s ease-out;
}

.backlight_bar trough,
.volume_bar trough {
    background-color: darken($primary, 25%);
    border-radius: 8px;
    margin: 0px;
    padding: 2px 0px;
}

.backlight_bar highlight,
.volume_bar highlight {
    background: $primary;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 8px 8px;
}

.backlight_bar slider,
.volume_bar slider {
    background: transparent;
    min-width: 1px;
    min-height: 1px;
    border-radius: 24px;
}

// .backlight-widget,
// .volume-widget {
//   margin: 0px 0px;
//   padding: 0px;
// }

// .backlight-widget {
//   border-radius: 0px 0px 24px 24px;
//   border-top: none;
// }

// .volume-widget {
//   border-bottom: none;
// }

.volicon,
.brighticon {
    font-size: $icns;
    color: $fg;
}

.logout {
    color: $fg;
    font-size: $icns;
    font-weight: 900;
    transition: all 0.5s ease-out;
    background: lighten($on_primary, 10%);
    padding: 6px;
    margin: 4px;
    border-radius: 8px;
    &:hover {
        background: lighten($surf, 10%);
        color: $inverse_surface;
    }
}

.systray {
    background: inherit;
}
.trayarrow {
    font-size: $icns;
    padding: 4px;
    margin: 6px 4px;
}
.systemtray {
    background: lighten($on_primary, 10%);
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    border: 1px solid $fg;
}

.systemtray menu {
    background: lighten($on_primary, 10%);
    color: $on_primary_container;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid darken($on_primary, 20%);
    font-size: 16px;
    :hover {
        background: darken($on_primary, 10%);
        color: lighten($on_primary, 20%);
    }
    :active {
        background: lighten($on_primary, 20%);
        color: darken($on_primary, 10%);
    }
}

.baticon {
    font-size: $txt;
    color: $on_primary_container;
    background: lighten($on_primary, 10%);
    border-radius: 8px 8px 0px 0px;
    padding: 4px 0px;
    margin: 4px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.batcent {
    font-size: 16px;
    color: $on_primary_container;
    border-radius: 0px 0px 8px 8px;
    background: lighten($on_primary, 10%);
    padding: 4px 0px;
    margin: 4px;
    margin-top: 0px;
    padding-top: 0px;
}

.battery-low {
    color: $on_error;
    background: $error;
}
