* {
   background : #24283b ;
   bgtr : #24283b44 ;
   background-alt : #24283b;
   foreground : #bb9af7;
   primary : #bb9af7;
   secondary : #053c74;
   alert : #A54242;
   disabled : #707880;
   primary-container: #24283b;
	 on-primary-container: #131621;
   surface:#2a456e;
   on-surface:#b2ceeb;
   error: #cc241d;
   bordline: #e0af68;
}
