@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

window#waybar {
    background: alpha(@background,0.4);
    border-radius: 2px;
}

#custom-appmenu, #custom-logout, #window, #clock, #mpris {
    color: @foreground;
    background: alpha(@background,0.50);
    border:none;
    border-radius:2px;
    padding: 0px 0.8em;
    margin: 4px 0px;
    border-right: 2px solid @color3; 
    border-left: 2px solid @color3; 
}

/*-----icons-----*/
#custom-appmenu, #custom-logout, #custom-empty_workspace, #idle_inhibitor, #custom-notification, #network, #pulseaudio, #backlight, #memory, #cpu, #battery, #upower {
    font-size: 20px;
    color: @color7;
    margin: 2px;
    padding:2px 4px;
}

#workspaces {
    color: @foreground;
    background:alpha(@background,.1);
    border-radius:0px;
    margin:0px;
    padding:0px;
}

#workspaces button{
    background-color: inherit;
    color: @foreground;
    transition: 0.2s ease;
    padding: 2px 16px;
}

#workspaces button:not(.empty){
    color: @color11;
    transition: 0.2s ease;
    padding: 2px 16px;
}

#workspaces button.active{
    color: @color3;
    border-top:2px solid @color3;
    border-bottom:2px solid @color3;
    border-radius:4px;
    margin:0px;
    /*padding: 0px 0px 0px 0px;*/
    transition: all 0.3s ease;
}

#tray menu * {
    font-size: 28px;
    color: @foreground;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    /*box-shadow: none;
    margin-right: 7px; */
    /* background: @foreground; */
    background: @color6;
    padding:6px 2px;
    margin:0px;
    border:1px solid @color0;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 80px;
    min-height: 14px;
    margin-bottom: -4px;
    border-radius: 0px;
    background: alpha(@color7,0.15);
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 0px;
    background-color: @color6;
}

/*-----custom colors-----*/
#cpu{
    color: @color5;
    background:alpha(@color1,0.5);
}

#memory{
    color: @color5;
    background:alpha(@color8,0.25);
}

#network{
    color: @color5;
    background:alpha(@color1,0.25);
}

#idle_inhibitor{
    color:@foreground;
    background:alpha(@color4,0.25);
    padding:2px 8px 2px 12px;
    font-size:18px;
}

#custom-notification{
    color:@foreground;
    background:alpha(@color2,0.25);
    padding:2px 8px 2px 12px;
}

#custom-nettext{
    color:@foreground;
    background:alpha(@background,0.5);
    margin:2px 0px;
    padding-left:8px;
    padding-right:8px;
}

#battery,#upower,#upower-headset{
    color: @color5;
    background:alpha(@color8,0.25);
}

#custom-empty_workspace{
    color: @foreground;
    background:alpha(@color1,0.5);
}

/*-----custom paddings and margins ------*/
#custom-appmenu, #custom-logout{
        padding-left: 10px;
        padding-right: 14px;
        margin-left: 4px;
        margin-right: 4px;
}

#cpu,#memory,#network{
        padding-left: 12px;
}

#battery{
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
}

#upower{
    padding-left: 12px;
    padding-right: 12px;
}

#custom-empty_workspace{
    padding-left:12px;
    padding-right:6px;
}

window#waybar.empty #window {
  background: transparent;
  border:none;
  padding:0px;
  margin:0px;
}

* {
    transition: all 0.5s ease-out;
}
