@import url("colors.css");
* {
    font-family: "Firacode Nerd Font Propo";
    font-weight: bold; 
    font-size: 18px;
    transition: all 0.3s ease-out;
}

#waybar{
    /* background: alpha(@background,0.5); */
    background: alpha(@primary_container,.4);
    border-top: 2px solid @on_primary_container;
    box-shadow: 0px -2px 4px 0px @background ;
}

/* icons fontsize*/
#custom-appmenu,#battery,#network,#pulseaudio,#backlight,#idle_inhibitor{
    font-size: 22px;
    margin: 4px 8px;
    color: @on_primary_container;
}

#custom-notification {
    color:@primary;
    font-size: 22px;
    margin: 4px 8px;
}
#window{
    color: alpha(@on_primary_container,0.80);
    background: alpha(@foreground,0.25);
}
/*taskbar settings*/
#taskbar {
    margin: 4px 8px 0px 8px;
}

#taskbar button {
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 4px 8px;
}

#taskbar button.active {
    color: @foreground; 
    margin:0px 4px;
    border-radius:8px;
    padding:8px;
    transition: all 0.3s ease-out;
    background: linear-gradient(to right, transparent 40%, @secondary 25%, @secondary 65%, transparent 40%) no-repeat center bottom / 100% 4px,alpha(@on_secondary, 1);
    /*transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);*/
   /* border-bottom:4px solid @foreground;
    transition: border-bottom-color 0.3s ease-in, border-bottom-width 0.3s ease-in;*/
}

#taskbar button:hover {
    background: @primary_fixed_dim;
    color: @foreground; 
    transition: all 0.2s ease-out;
}

/*date style*/
#clock,#custom-date,#custom-nettext,#workspaces,#upower{
    font-size: 14px;
    color: @foreground;
    padding:2px 0px 2px 0px;
    margin: 2px 4px 0px 4px;
}

/* sliders*/
#backlight-slider slider,
#pulseaudio-slider slider {
    /*box-shadow: none;
    margin-right: 7px; */
    /* background: @foreground; */
    background: transparent;
    border:2px double @primary;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 100px;
    min-height: 1px;
    margin-bottom: -4px;
    border-radius: 1.5em;
    background-color: @primary_fixed_dim;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 1.5em;
    background-color: @primary_fixed_dim;
}

#custom-appmenu{
    font-size: 28px;
    color: @on_primary_container;
    /*color: @color6;*/
    padding-left: 24px;
    margin: 0px;
    background:alpha(@primary_container,1);
    border-radius:0px 60px 60px 0px;
    padding-right: 32px;
    margin: 4px 0px 0px 0px;
}

#custom-closer{
    font-size: 28px;
    color: @color3;
    padding: 2px 4px 0px 4px;
    margin: 0px 0px 0px 8px;
}

#workspaces button.active{
    color: @on_primary_container;
    background:alpha(@on_primary,1);
    font-size:22px;
    border-radius:60px;
    padding: 4px 12px;
    margin: 4px;
    margin-left:24px;
}

#custom-empty_workspace{
    color: @color3;
    margin-right:1rem;
}

#mpris{
  font-family: "JetBrains Nerd Font Mono";
  font-weight: 700;
  font-size: 16px;
  color:@on_primary_container;
  background: alpha(@on_primary,0.15);
  border-radius:12px 60px 60px 12px;
  border:none;
  margin:0px 0px 0px 10px;
  padding: 0px 0px 0px 10px;
}


.modules-center {
    background:alpha(@primary_container,0);
    border-radius:60px;
    padding: 0px 8px;
    margin: 4px 0px 0px 0px;
}

#group1 {
    background:alpha(@primary_container,1);
    border-radius:60px 0px 0px 60px;
    padding-left: 8px;
    margin: 4px 0px 0px 0px;
}
.modules-right {
    background:alpha(@inverse_primary,0.75);
    border-radius:60px 0px 0px 60px;
    padding-left: 8px;
    margin: 4px 0px 0px 0px;
}
#group3 {
    background:alpha(@primary_container,0);
    border-radius: 60px;
    padding-right: 8px;
    margin: 4px 0px 0px 16px;
}
.modules-left {
    background:alpha(@inverse_primary,0.75);
    border-radius:0px 60px 60px 0px;
    padding-right: 8px;
    margin: 4px 0px 0px 0px;
}


window#waybar.empty #window{
    background: transparent;
    padding:0px;
    margin:0px;
    border:none;
    color: transparent;
}

#expand {
    background:alpha(@on_primary,1);
    font-size:22px;
    border-radius:60px;
    padding: 4px 12px;
    margin: 4px;
}
