@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

#waybar {
    background:transparent;
    margin: 0px;
  /*    border-radius: 12px;
    border-bottom: 2px double;
    border-color: @foreground;
    opacity : 1;
*/
}
tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 13px;
    border-radius: 12px;
    border: 2px solid @color6;
    margin: 6px;

}

/*
* #workspaces {
    background-color: alpha(@background, 0.1);
    color: @color5; 
    box-shadow: none;
    text-shadow: none;
    border-radius: 8px;
    transition: 0.2s ease;
    padding: 2px 4px ;
}

#workspaces button , #custom-empty_workspace {
    background-color: transparent;
    color: @foreground;
    box-shadow: none;
    text-shadow: none;
    border-radius: 60px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 10px;
}


#workspaces button:hover {
    background: none;
    box-shadow: inherit;
}

#workspaces button.focused {
    background-color: @color2; }*/


#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: @foreground; 
}

#tray menu separator {
    min-height: 10px;
}

#custom-spacer {
    opacity: 0.8;
}

#custom-smallspacer {
    opacity: 0.8;
}


#custom-power {
    font-size: 15px;
    color: @foreground; 
    background: rgba(40, 40, 40, 0.9);
    margin: 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#bluetooth,
#custom-cliphist {
    color: @foreground; 
    background: @background; 
    opacity: 1;
    margin: 4px 0;
    padding-left: 4px;
    padding-right: 4px;
}
/*

#battery {
    font-family: "Hurmit Nerd Font";
    font-weight: normal;
    font-size: 18px;
    color: @color4; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 0;
    padding-left: 0px;
    padding-right: 12px;
}

#idle_inhibitor {
    color: @color6;
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 4px 0;
    padding-left: 4px;
    padding-right: 4px;
}
#clock {
    color: @foreground;
    font-size: 15px;
    font-weight: 900;
    font-family: "Hurmit Nerd Font";
    background: @color2;
    opacity: 1;
    margin: 6px 6px;
    padding: 0px 15px;
    border-radius:60px;
}

#pulseaudio {
    font-weight: normal;
    font-size: 18px;
    color: @color6; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
}*/

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: @color2; 
}

#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
    font-weight: normal;
    font-size: 22px;
    color: @foreground; 
}

#mpris {
    color: @foreground; 
    background:alpha(@background,0.5);
    border-radius: 50px;
    border:1px solid @color4;
    margin:8px 4px;
    padding-left: 16px;
    padding-right:16px;
    font-weight: bold;
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

 @keyframes blink {
    to {
        color: @color3;
    }
}


#network {
    color: @foreground; 
    font-weight: normal;
    font-size: 19px;
    padding-right: 0px;
    padding-left: 4px;
}
/*
#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu {
    color: @foreground; 
    background: rgba(40, 40, 40, 0.0);
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.1;
}
*/

#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
    color: @foreground; 
    /* font-family: "Martian Mono"; */
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset
{    color: @color5; 
}

#custom-rr_end {
    font-weight: normal;
    color: @foreground; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: @foreground; 
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: @color0; 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: @color6; 
}
/*
#battery.charging,
#battery.plugged {
    color: @foreground; 
}

#battery.critical:not(.charging) {
    color: @color9; }*/


#taskbar {
    padding: 1px;
}

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-expand {
    min-width: 25px;
    color: @foreground; 
    font-size: 16px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5px;
}

/*
#custom-wallchange{
    font-family: "Hurmit Nerd Font";
    font-weight: bold;
    font-size: 18px;
    color: @color4; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 0;
    padding-left: 0px;
    padding-right: 12px;
}
*/
#custom-appmenu {
    color: @color3;
    background: alpha(@background,0.25);
    font-size: 23px;
    padding-left: 12px;
    padding-right: 4px;
    margin-top:6px;
    margin-bottom:6px;
    border-radius:50px;
    border:2px solid;
}
/*#custom-logout {
    color: @color0;
    background: alpha(@color1,0.25);
    background-image: -gtk-gradient (radial,
                                   0.4 0.4, 0.1,
                                   0.6 0.6, 0.7,
                                   color-stop(0.1, @color1),
                                   color-stop(0.1, @color1),
                                   color-stop(1, @color6));
  linear-gradient(to right, @color1, @color0);
    background-image: radial-gradient(ellipse center, @color1, @color6);
    background-image: radial-gradient(circle farthest-side at left center, @color1, @color6 50px, @color3);
    background-image: linear-gradient(to right, @color1, @color6);
    font-size: 21px;
    padding-left: 12px;
    padding-right: 4px;
    margin-top:8px;
    margin-bottom:8px;
    border-radius:50px;
}
*/
#window,#idle_inhibitor,#network,#backlight,#pulseaudio,#battery,#custom-notification {
    color: @color3; 
    background: alpha(@background, 0.5);
    /*background-image: radial-gradient(circle farthest-side at left center, @color1, @color6 50px, @color3);linear-gradient(to right, @color1, @color0);*/
    border-radius:50px 2px 2px 50px;
    font-weight: normal;
    font-size: 19px;
    margin: 8px 0px;
    padding-left: 0px;
    padding-right: 2px;
    border:1px solid @color4;
    border-right:none;
}

#custom-empty_workspace,#custom-closer,#clock,#custom-nettext,#custom-pulseaudiotxt,#custom-backlighttxt,#custom-battxt,#custom-logout{
    color: @foreground;
    background: alpha(@background, 0.5);
    border-radius:2px 50px 50px 2px;
    border:1px solid @color4;
    margin: 8px 0px;
    padding-left: 10px;
    padding-right: 10px;}

#workspaces{
    color: @background; 
    background: alpha(@background, 0.25);
    border-radius:50px 0px 0px 50px;
    margin:8px 0px;
    padding:0px 6px;
    border:1px solid @color4;
    border-right:none;
    transition: all .2s ease-out;
}
#workspaces button:not(.empty) {
    /*background: alpha(@background,0.5);*/
    background: transparent;
    color: @color3; 
    border-radius: 50px;
    border:none;
    transition: all .2s ease-out;
}
#workspaces button.active {
    /*background: alpha(@background,0.5);*/
    background: transparent;
    color: @color3; 
    margin: 0px 0px;
    padding-right:10px;
    padding-left:8px;
    border-radius: 50px;
    border:none;
    transition: all .2s ease-out;
}
#window{
  color: @foreground;
/*background-image: linear-gradient(to right, @color1 3em, @color6);*/
  background:alpha(@background,0.5);
  padding: 0px 8px 0px 20px;
  margin: 8px 0px 8px 8px;
}
#custom-logout,#custom-notification{
  font-size: 20px;
}
#custom-closer{
    color:@color3;
}
window#waybar.empty #window{
    border:none;
    background: transparent;
}
