@define-color foreground #c5c1c1;
@define-color background #170909;
@define-color cursor #c5c1c1;

@define-color color0 #170909;
@define-color color1 #9F8C75;
@define-color color2 #877784;
@define-color color3 #AAA195;
@define-color color4 #C7B7A9;
@define-color color5 #C5BEBC;
@define-color color6 #CEC7B7;
@define-color color7 #c5c1c1;
@define-color color8 #6d5959;
@define-color color9 #9F8C75;
@define-color color10 #877784;
@define-color color11 #AAA195;
@define-color color12 #C7B7A9;
@define-color color13 #C5BEBC;
@define-color color14 #CEC7B7;
@define-color color15 #c5c1c1;
