layout {
  focus-ring {
    active-color "#dbe1ffff"
    inactive-color "#121318ff"
  }

  border {
    active-color "#b4c5ff88"
    inactive-color "#00174b88"
    urgent-color "#ffb4ab"
  }

  shadow {
    color "#000000"
  }

  tab-indicator {
    active-color "#b4c5ff"
    inactive-color "#b4c5ff55"
  }

  insert-hint {
    color "#12131822"
  }
}
