layout {
  focus-ring {
    active-color "#ffddb2ff"
    inactive-color "#18120bff"
  }

  border {
    active-color "#ede0d4"
    inactive-color "#18120b"
    urgent-color "#ffb4ab"
  }

  shadow {
    color "#000000"
  }

  tab-indicator {
    active-color "#f3bd6e"
    inactive-color "#f3bd6e55"
  }

  insert-hint {
    color "#18120b22"
  }
}
