@import url("colors-waybar.css");

* {
    font-family: "Firacode Nerd Font";
    font-weight: bold; 
    font-size: 18px;
}

#waybar{
    background: alpha(@foreground,0);
    /* color:@color8; */
    color:@background;
}

.modules-left,#rightpill{
    background: alpha(@foreground,0.75);
    border-radius:50px;
    padding: .25em 1em;
}

#expand{
    /* background: @foreground; */
    background: alpha(@foreground,0.75);
    border-radius:50px;
    padding: .25em .8em;
    margin-right:0.3em;
}

/* icons fontsize*/
#custom-overview,#custom-appmenu,#battery,#network,#pulseaudio,#backlight,#idle_inhibitor,#custom-notification{
    font-size: 22px;
    margin: 0px 16px;
}

/*taskbar settings*/

#workspaces,#taskbar button {
    box-shadow: none;
    background: alpha(@foreground,0.75);
    /* background: @foreground; */
    border-radius:50px;
    padding: .25em 1em;
    margin:0px 4px;    
}

#taskbar button.active {
    background: @color1;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    border-radius: 50px;
}

#taskbar button:hover {
    background: @color3;
    color: @foreground; 
    transition: all 0.2s ease-out;
}

#custom-overview{
    margin-right:1em;
}

/* sliders*/
#backlight-slider slider,
#pulseaudio-slider slider {
    background: transparent;
    border:none;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 100px;
    min-height: 18px;
    border-radius: 1.5em;
    background: transparent;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 1.5em;
    background-color: @color1;
}

#custom-appmenu{
    font-size: 32px;
    background: alpha(@foreground,0.75);
    /* background: @foreground; */
    border-radius:50px;
    padding: 0px 0.4em 0px 0.8em;
    margin:0px 4px;
}

#workspaces button{
    color: @background;
}

#workspaces button.active{
    background: @color1;
    border-radius:100em;
    padding:0px 8px 0px 9px;
    margin-top:4px;
    margin-bottom:4px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);   
}

#workspaces button.empty{
    color: alpha(@background,0.5) ;
}

