// $ppad : 80px;
.music {
    border-right: 4px solid $accent;
    border-bottom: 4px solid $accent;
    background: $surf;
    border-radius: 0px 0px 24px 0px;
    // border:1px solid white;
}

.playerart {
    padding:0px;
    min-height: 128px;
    min-width: 128px;
    // border: 2px solid $accent;
    border-radius: 24px;
}

.playertitle {
    padding: 10px;
    font-weight: bold;
}

.playerartist {
    padding: 10px;
}

.playerprogress {
    padding: 10px 10px;
    border-radius: 60px;
}

.playerctrl {
    padding: 16px 0px;
}

.playerbtn{
    font-size: 48px;
    margin: 0px 8px;
}

.musicinfobox {
    // padding: 10px;
    // border: 2px solid $accent;
    margin: 40px;
    margin-left: 24px;
    border-radius: 24px;
}
// border: 1px solid white;

.musicplayer {
    margin: 0px;
    padding: 0px;
}