@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

window#waybar {
    background: alpha(@background,.25);
    /* border: 4px solid @color3; */
    border-radius: 2px;

}


tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 12px;
    border-radius: 12px;
    border: 2px solid @color6;
}

#workspaces {
    /*background: alpha(@background,0.4);*/
    padding:4px 0px 8px 0px;
    margin: 0px;
    font-size:22px;
}

#workspaces button {
    background-color: transparent;
    color:alpha(@color9,0.25);
    border-radius: 0px;
    transition: 0.2s ease;
    margin: 0px;
}

#workspaces button:not(.empty){
    color:@color9;
}

#workspaces button.active {
   /* 
    color: @color11; 
    padding:1em 4px;
    transition: all 0.3s ease; */
    color: @color9; 
    margin:0px 10px;
    padding:0.5em .25em;
    /*border-left:2px solid @color12;*/
    border-radius:24px; 
    background: alpha(@color9,.25);
}


#workspaces button:hover {
    background: none;
    box-shadow: inherit;
    color: @color6; 
    /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */
}
#custom-empty_workspace {
    background: alpha(@background,0);
    color: @background;
    border-radius:0px;
    border:none;
    padding:2px 0px 8px 8px;
    margin: 12px 4px -4px 4px;
    font-size:16px;
}

#tray,#custom-menu {
    /* min-height: 16px; */
    /* font-weight: bold; */
    font-size: 20px;
    color: @color9; 
}

#custom-menu{
    padding:4px;
    color: @color9; 
}

#custom-clockH,#custom-clockM,#custom-clockD {
    color: @background; 
    font-size: 28px;
    font-weight: 900;
    font-family: "HeavyData Nerd Font";
    background: @color2;
    margin:0px;
    padding:4px 0px;
}

#pulseaudio {
    font-weight: normal;
    font-size: 18px;
    color: @color6; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
}

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: @color2; 
}

#custom-gpuinfo,
#memory {
    font-weight: normal;
    font-size: 22px;
    color: @foreground; 
}

#mpris {
    color: @color9; 
    font-size:24px;
    margin-left:8px;
    padding-top:1em;
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes blink {
    to {
        color: @color9;
    }
}
*/

#backlight-slider slider,
#pulseaudio-slider slider {
    color:transparent;
    background: transparent;
    border: none;
    min-width: 1px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 1.5em;
    min-height: 80px;
    border-radius: 12px 32px;
    background: @color0; 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 12px 32px ;
    background-color: @color6; 
}

#battery.charging,
#battery.plugged {
    color: @color3; 
}

#battery.critical:not(.charging) {
    color: @color9; 
}

#custom-expand {
    min-width: 25px;
    color: @background; 
    font-size: 16px;
}


/*    icons   */
#idle_inhibitor,#custom-notification,#network,#pulseaudio,#backlight,#battery,#upower{
    font-size: 20px;
/*    color: @color7;*/
    color:@color0;
    padding:0.5em;
}

#leftwrap { 
    background: alpha(@color9,0.25);
    margin-top: 0px;
    border-radius: 12px 12px 0px 2px;
    padding-bottom:0rem;
}

#rightwrap { 
    background: alpha(@color9,0.25);
    margin-top: 0px;
    border-radius: 24px 24px 2px 2px;
    padding-top:0.5rem;
}

#custom-appmenu,#custom-logout{
    font-size: 24px;
    color: @background;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: alpha(@color9,1);
    /*color: @foreground;
    padding: 0.1em 0.35em 0.1em 0.2em;*/
}
#window{
    padding: 1.2em 0.5em;
    margin:0px;
    border:2px double alpha(@foreground,.25);
    border-radius: 0px 0px 24px 24px;
    color:@color12;
    background-image: linear-gradient(to top, alpha(@color9,0.15) 20%, alpha(@color12,0.35) 80%);
   /* background-image: radial-gradient( alpha(@background,0.5) 90%, @color7); */
}
#custom-clockD{color: @background;}
#custom-colon{
  color:@background;
  font-size:28px;
  background: @color2;
  margin: -4px 0px;
}

#custom-appmenu{
    /* margin-top: 2px; */
    border-radius: 0px 0px 24px 24px;
}

#custom-logout{
    /* margin-bottom: 2px; */
    border-radius: 24px 24px 0px 0px;
}
window#waybar.empty #window {
    background: alpha(@color9,.25);
    border: none;
    padding:10px 0px;
    border-radius: 0px 0px 32px 0px;
}
#custom-notification { 
    color:@color4;
    background: alpha(@color12,.3);
    border-radius:0px 0px 24px 24px;
    padding-bottom:0.5rem;
    margin:0px 2px;
}
#idle_inhibitor { 
    border-radius:24px 24px 0px 0px;
    padding-top: .6rem;
    margin:0px 2px;
    padding-left:0.2rem;
    color:@color4;
    background: alpha(@color12,.3);
}
/* 
.clockey{
    background: alpha(@color13,0.5);
} */
