@define-color foreground #c1c5c2;
@define-color background #09170c;
@define-color cursor #c1c5c2;

@define-color color0 #09170c;
@define-color color1 #337247;
@define-color color2 #457A56;
@define-color color3 #499361;
@define-color color4 #74B98A;
@define-color color5 #97D6AB;
@define-color color6 #BAF8CC;
@define-color color7 #c1c5c2;
@define-color color8 #596d5d;
@define-color color9 #337247;
@define-color color10 #457A56;
@define-color color11 #499361;
@define-color color12 #74B98A;
@define-color color13 #97D6AB;
@define-color color14 #BAF8CC;
@define-color color15 #c1c5c2;
