* {
    active-background: #C4A7E7;
    active-foreground: @foreground;

    urgent-background: #EB6F92;
    urgent-foreground: @foreground;

    selected-active-background: #C4A7E7;
    selected-active-foreground: #E0DEF4;
    selected-normal-background: #393552;
    selected-normal-foreground: @foreground;

    border-color: #232136;
    bgsel: #2A273F;
    disabled: #6E6A86;
}
