
    $background: #18120b;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #362f27;

    $inverse_primary: #7f560f;

    $inverse_surface: #ede0d4;

    $on_background: #ede0d4;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #442b00;

    $on_primary_container: #ffddb2;

    $on_primary_fixed: #291800;

    $on_primary_fixed_variant: #624000;

    $on_secondary: #3e2e16;

    $on_secondary_container: #fadebc;

    $on_secondary_fixed: #271904;

    $on_secondary_fixed_variant: #56442a;

    $on_surface: #ede0d4;

    $on_surface_variant: #d3c4b4;

    $on_tertiary: #243516;

    $on_tertiary_container: #d3eabc;

    $on_tertiary_fixed: #0f2004;

    $on_tertiary_fixed_variant: #3a4c2a;

    $outline: #9b8f80;

    $outline_variant: #4f4539;

    $primary: #f3bd6e;

    $primary_container: #624000;

    $primary_fixed: #ffddb2;

    $primary_fixed_dim: #f3bd6e;

    $scrim: #000000;

    $secondary: #ddc2a1;

    $secondary_container: #56442a;

    $secondary_fixed: #fadebc;

    $secondary_fixed_dim: #ddc2a1;

    $shadow: #000000;

    $source_color: #e1b67a;

    $surface: #18120b;

    $surface_bright: #3f382f;

    $surface_container: #251f17;

    $surface_container_high: #2f2921;

    $surface_container_highest: #3b342b;

    $surface_container_low: #201b13;

    $surface_container_lowest: #120d07;

    $surface_dim: #18120b;

    $surface_tint: #f3bd6e;

    $surface_variant: #4f4539;

    $tertiary: #b7cea2;

    $tertiary_container: #3a4c2a;

    $tertiary_fixed: #d3eabc;

    $tertiary_fixed_dim: #b7cea2;
