.notiPanel {
  background: $surf;
  border-radius: 4px 24px 4px 24px;
  border-left: 2px solid $surf;
  border-bottom: 2px solid $surf;
  border: 1px solid white;
}

.notiftext {
    padding: 1em 0.37em;
    font-size: 2rem;
    font-weight: 800;
    // color: lighten($surf,20%);
    color: $fg;
}

.headingtext {
    padding: 1em 0.5em;
    font-size: 18px;
    font-weight: 800;
    color: $fg;
    background:darken($surf,10%);
}

.checker {
    border: 2px solid ;
    padding:0.15em;
    font-size: 1.5rem;
    font-weight: 800;
    // border-color: lighten($surf,20%);
    // color: lighten($surf,20%);
    color: $fg;
    border-color: $accent;
    margin:30px 10px;
}

.controlgridbox {
    // background: darken($color3,50%);
    background: $surf;
    border-radius: 24px;
    padding: 1rem 1.5rem;
}

.gridbtn {
    // color: lighten($surf,20%);
    color:$fg;
    border: 1px solid ;
    border-color:$accent;
    // border-color:lighten($surf,20%) ;
    // background: darken($color3,25%);
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 100%;
    margin: 0.5rem;
    background: $surf;
}

.gridbtn:hover {
    // background: darken($color7,20%);
    background: $surf;
}

.notibox {
    padding: 14rem 1rem;
    margin-bottom: 16px;
    border: 1px solid green;
}
