@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font Propo","Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 16px;
    transition:all 0.2s ease-in-out;
}

#custom-gpuinfo,#memory,#custom-notification,
#custom-menu,#window,#clock {
    color: @foreground; 
}

#waybar {
    background: alpha(@background,.15);
    border: 2px solid @color3; 
    border-radius: 12px;
}

#window{
    /*background: linear-gradient(to right,@color2,@color3);*/
    background: alpha(@background,1);
    color:@color3;
    padding: 0px 15px;
    margin: 2px 0px;
   /*border-radius:24px;*/
    border-radius:50px;
}

#clock {
    font-weight: 900;
    /*background: linear-gradient(to right,@color2,@color3);*/
    background: alpha(@background,1);
    padding: 0px 14px;
    margin: 2px 0px;
    border-radius:24px;
}

tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid @color6;
    margin: 6px;
}

#workspaces {
    background: transparent;
    color: @color5; 
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin:0px 2px;
}

#workspaces button {
    background-color:alpha(@foreground,.1);
    color: transparent; 
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition:all 0.2s ease;
    margin:6px 2px;
    padding: 0px 0px;
 /*   padding-left: 2px;
    padding-right: 2px;*/
}

#workspaces button:not(.empty) {
    background-color:alpha(@foreground,.1);
    color: alpha(@foreground,0.5); 
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition:all 0.2s ease;
    margin:6px 2px;
    padding: 0px 0px;
 /*   padding-left: 2px;
    padding-right: 2px;*/
}

#custom-empty_workspace {
 /*   padding: 0px 4px;
    margin: 0px 4px;
    background-color: transparent;
    color: @foreground; 
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition: 0.2s ease;
 */
    background-color:alpha(@foreground,.1); 
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition:all 0.2s ease;
    margin:6px 2px;
    padding:0rem 0.8rem;
}
#workspaces button.active {
    background: alpha(@color11,.25);
    color: @color3; 
    transition: all 0.2s ease;
    margin:6px 0px;
    padding: 0px 24px;
}

#workspaces button:hover {
    background: none;
    box-shadow: inherit;
    color: @color6; 
}

#workspaces button.focused {
    background-color: @color2; 
}
/*
#tray menu * {
    min-height: 16px;
    font-weight: bold;
    color: @foreground; 
}

#tray menu separator {
    min-height: 10px;
}
*/

#idle_inhibitor {
    color: @foreground; 
    margin: inherit;
    padding-left: 14px;
    padding-right: 14px;
}

#idle_inhibitor.activated {
    color:@color6;
}
#cpu {
    color: @color2; 
    margin: 4px;
}

#memory{
    margin: 4px;
}

#mpris {
    color: @foreground; 
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding:2px 8px;
}

 @keyframes blink {
    to {
        color: @color9;
    }
}

#network {
    color: @foreground; 
}

#custom-menu {
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
}

#upower#headset,
#upower {
    color: @color5; 
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: @foreground; 
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: @color0; 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: @color6; 
}

#battery.charging,
#battery.plugged {
    color: @foreground; 
}

#battery.critical:not(.charging) {
    color: @color9; 
}

#backlight,#pulseaudio{
  color: @color6;
} 

#custom-expand {
    min-width: 25px;
    color: @foreground; 
}

#custom-wallchange{
    color: @color4; 
    margin: 0;
    padding-left: 0px;
    padding-right: 12px;
}

modules-center{
    background:alpha(@background,0.35);
    border-radius:24px;
    margin:2px;
    padding-left:2px;
    padding-right:2px;
}
.modules-right{
    background:alpha(@background,0.35);
    border-radius:24px 12px 12px 24px;
    margin:2px;
    padding-left:0px;
    padding-right:0px;
}

.modules-left{
    background:alpha(@background,0.35);
    border-radius:12px 24px 24px 12px;
    margin:2px;
    padding-left:0px;
    padding-right:0px;
}

#custom-appmenu,#custom-logout {
    font-weight: 900;
    background: @color2;
    padding: 0px 14px;
    margin:2px 4px;
    border-radius:12px;
}

#custom-notification,#custom-appmenu{
    font-size: 20px;
}

#custom-logout,#custom-empty_workspace,#idle_inhibitor,#network,#pulseaudio,#backlight,#upower,#custom-notifications,#memory,#cpu{
  font-size: 18px;
}

#backlight,#battery,#pulseaudio,#network,#cpu,#memory,#wallchange#custom-notification{
    margin:4px;
}

window#waybar.empty #window{
    background: transparent;
}

.modules-center{
    background: alpha(@color3,0.25);
    border-radius:24px;  
    margin:2px 0px;
}

#custom-notification {
    padding:0px 14px;
}

#network, #expand-aud, #expand-light, #expand-bat {
    background-color:alpha(@foreground,.1);
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    margin:4px;
    padding: 0px 6px;
}
