@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font Propo","Hurmit Nerd Font";
    font-size: 16px;
    transition: all 0.2s ease-out;
}

window#waybar {
    background: alpha(@background,.5);
    border: 1px solid @color2;
    border-radius: 12px;
}

#custom-appmenu {
    font-weight: 900;
    color:@color2;
    font-size: 24px;
    background: alpha(@color10,0.35);
    border-radius: 12px 60px 24px 12px;
    border-right:2px solid @color2;
    padding:0px 1em;
    margin-left:0px;
}

#window{
    color: alpha(@color7,0.80);
    background: alpha(@foreground,0.25);
    border:1px solid @foreground;
    border-radius:12px 60px;
    padding: 0px 1rem;
    margin: 8px 0px;
}

#clock,#custom-datee {
    font-weight: 900;
    /*background: linear-gradient(to right,@color2,@color3);*/
    background: alpha(@background,0.5);
    color:@color11;
    border-radius:60px;
    padding:0px 1rem;
    margin: 8px 6px;
}

#custom-datee {
    border-radius: 0px 24px;
}

tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid @color6;
    margin: 6px;
}

#workspaces {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin:0px 8px;
}

#workspaces button {
    background:alpha(@foreground,0.25);
    color:transparent;
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition:all 0.2s ease-out;
    margin:10px 2px;
    padding:0px;
}

#workspaces button:not(.empty) {
    background:alpha(@foreground,0.25);
    color: alpha(@background,1); 
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition:all 0.2s ease-out;
    margin:10px 2px;
    padding:0px;
}

#custom-empty_workspace {
    background:alpha(@foreground,0); 
    box-shadow: none;
    text-shadow: none;
    border-radius: 24px;
    transition:all 0.2s ease;
}
#workspaces button.active {
    background: alpha(@background,0.5);
    font-weight:900;
    font-size:24px;
    color: @color2; 
    transition: all 0.2s ease-out;
    margin:10px 2px;
    padding:0px 1.6rem;
    border-radius:16px 42px;
}

#workspaces button:hover {
    background: none;
    box-shadow: inherit;
    color: @color6; 
}

#workspaces button.focused {
    background-color: @color2; 
}

#idle_inhibitor {
      color: @background; 
      background: alpha(@color2,1);
      /*border-radius: 42px 2px 42px 42px;*/
    border-radius: 60px 12px 12px 24px;
      padding:0px 18px;
      margin:2px 10px;
      margin-left:0px;
}

#idle_inhibitor.activated {
      color:@color0;
}
#cpu {
    color: @color6; 
}

#memory{
    color: @color6; 
}

#mpris {
    color: @foreground; 
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: alpha(@foreground,0.25);
    border:1px solid @foreground;
    border-radius:12px 42px 12px 60px;
    padding: 0px 1rem;
    margin: 8px;
}

 @keyframes blink {
    to {
        color: @color9;
    }
}

#network {
    color: @foreground; 
}

#custom-menu {
    padding-left: 1px;
    padding-right: 1px;
}

#upower#headset,
#upower {
    color: @color5; 
}

#backlight-slider slider,
#pulseaudio-slider slider {
    min-width: 1px;
    min-height: 2px;
    background: transparent;
    border: none;
    box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 90px;
    min-height: 20px;
    border-radius: 0px 24px;
    background: @color0; 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 0px 24px;
    background: @color2; 
}

#battery.charging,
#battery.plugged {
    color: @foreground; 
}

#battery.critical:not(.charging) {
    color: @color9; 
}

#backlight,#pulseaudio{
  color: @color6;
} 

#custom-expand {
    min-width: 25px;
    color: @foreground; 
}

#custom-wallchange{
    color: @color4; 
}

modules-center{
    background:alpha(@background,0.35);
    border-radius:24px;
}
.modules-right,.modules-left{
    background:alpha(@background,0.35);
    border-radius:24px;
}


#custom-logout {
    font-weight: 900;
    color:@color2;
    font-size: 24px;
    background: alpha(@color10,0.35);
    border-radius: 24px 12px 12px 60px;
    border-left:2px solid @color2;
    padding:0px 1em;
    margin-right:0px;
}

#custom-empty_workspace,#idle_inhibitor,#network,#pulseaudio,#backlight,#upower,#custom-notification,#memory,#cpu{
  font-size: 20px;
}

#custom-notification{
      color: @background; 
      background: alpha(@color2,1);
     /* border-radius: 2px 42px 42px 42px;*/
    border-radius: 12px 60px 24px 12px;
      padding:0px 18px;
      margin:2px 10px;
      margin-right:0px;
}

window#waybar.empty #window{
    background: transparent;
    padding:0px;
    margin:0px;
    border:none;
    color: transparent;
}
.modules-left{ 
      background: alpha(@color2,0.25);
      border-radius: 12px 42px 2px 12px;
      padding-right:1rem;
}

.modules-right{ 
      background: alpha(@color2,0.25);
      border-radius: 2px 12px 12px 42px;
      padding-left:1rem;
}

.modules-center { 
      background: alpha(@color2,0.25);
      border-radius: 60px 60px 24px 24px ;
      padding-left:.5rem;
     padding-right:.5rem;
}
