@define-color foreground #c3c3c3;
@define-color background #101212;
@define-color cursor #c3c3c3;

@define-color color0 #101212;
@define-color color1 #778839;
@define-color color2 #6C965F;
@define-color color3 #B4B350;
@define-color color4 #96A460;
@define-color color5 #658388;
@define-color color6 #B0B493;
@define-color color7 #c3c3c3;
@define-color color8 #596d6d;
@define-color color9 #778839;
@define-color color10 #6C965F;
@define-color color11 #B4B350;
@define-color color12 #96A460;
@define-color color13 #658388;
@define-color color14 #B0B493;
@define-color color15 #c3c3c3;
