@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
    transition: 0.2s all ease-out;
}

window#waybar {
    background:alpha(@background,0);
    border-radius: 60px;
    min-width:32px;
}

tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 13px;
    border-radius: 12px;
    border: 2px solid @color6;

}

/*iconsize*/ 
#custom-empty_workspace,
#idle_inhibitor,
#custom-notification,
#network,
#pulseaudio,
#backlight,
#battery,
#upower,
#custom-logout{
    font-size: 22px;
}

/*custom settings*/

#workspaces button {
    background: alpha(@foreground,0);
    color: alpha(@foreground,.25); 
    transition: all 0.1s ease;
    border-radius: 60px;
}
#workspaces button.active {
    background: alpha(@foreground,0);
    color: @color4; 
    transition: all 0.3s ease;
    border-radius: 60px;
}
#workspaces{
    color: @foreground; 
    background: alpha(@color0, 0.25);
    border-radius:60px;
    border:none;
    margin:8px;
}

#window,#custom-closer{
    color: @color6;
    background:transparent;
   /* border:4px double @color3;*/
    border-radius:60px;
    padding:1em 0.4em 1em 0.6em;
    margin-left:0.2em;
    margin-right:0.2em;    
  }

#custom-empty_workspace{
    color: alpha(@background,0.8);
    background:alpha(@color6,1);
    border-radius:2px 2px 60px 60px;
    margin-left:0.2em;
    margin-right:0.2em;
    margin-bottom:-1rem;
}

#mpris {
    color: @foreground; 
    /*background: alpha(@background,0.5);*/
    font-weight: bold;
    border-radius:60px;
   /* border:2px solid @color3;*/
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left:0.25em;
    margin-right:0.25em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

 @keyframes blink {
    to {
        color: @color9;
    }
}

#custom-clockH,#custom-clockM,#custom-clockD {
    color: @background; 
    /* color: @color8;  */
    font-size: 24px;
    /* font-weight: 900; */
    font-family: "HeavyData Nerd Font";
    background: alpha(@color4,1);
    /* margin:0px 4px; */
    padding:10px 0px;
    margin-left:0.2em;
    margin-right:0.2em;
}

#custom-clockH{
    padding-top: 1.2em;
    border-radius:60px 60px 2px 2px;
}

#custom-clockD{
    padding-bottom: 1.2em;
    border-radius:2px 2px 60px 60px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: @foreground; 
    background-color: transparent;
    min-width: 1px;
    min-height: 1px;
    border:none;
    color:transparent;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 16px;
    min-height: 80px;
    border-radius: 60px;
    background: @color0; 
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 60px;
    background-color: @color6; 
}


#custom-appmenu,
#custom-empty_workspace,
#idle_inhibitor,
#custom-notification,
#network,
#pulseaudio,
#backlight,
#battery,
#upower,
#custom-logout{
    padding:4px 8px 4px 2px;
}
#custom-notification,
#custom-logout{
    padding:4px 5px 4px 4px;
}
#battery{
    padding:4px;
}

#idle_inhibitor,
#custom-notification,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-logout{
    color:@color4;
    background:alpha(@background,0.25);
    border-radius:60px;
}


#upower{
    background: alpha(@background,.25);
    border:none;
    padding:1em 0.4em 1em 0.6em;
    margin-left:4px;
    margin-right:4px;
    border-radius:60px;
}

#custom-menu{font-size: 24px;}

.modules-center{
  background: alpha(@color0,0.35);
  padding: 0px;
  margin:0px;
  border-radius: 60px;
  border: 1px solid alpha(@color3,1);
}

window#waybar.empty #window{
    padding:0px;
    margin:0px;
    border:none;
}

#appmenupill{
    border-radius: 50px;
    background: alpha(@color6,1);
    margin:inherit;
    padding:inherit;
    margin-left:0.2em;
    margin-right:0.2em;
}

#custom-smallspacer { 
    color: transparent;
    background:alpha(@color6,1);
    border-radius:2px 2px 60px 60px;
    margin:-.5em .2em 0px .2em;
}

#custom-spacer {
    color:@color3;
}

#custom-appmenu,#custom-logout {
    color: alpha(@background,1);
    background: alpha(@color6,1);
    font-size: 24px;
    border-radius:60px;
    margin: 0px 0.25em;
    font-family:Hermit Nerd Font Propo;
}
