
    $background: #19120d;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #382e29;

    $inverse_primary: #8b4f25;

    $inverse_surface: #f0dfd7;

    $on_background: #f0dfd7;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #512400;

    $on_primary_container: #ffdbc7;

    $on_primary_fixed: #311300;

    $on_primary_fixed_variant: #6e380f;

    $on_secondary: #432b1c;

    $on_secondary_container: #ffdbc7;

    $on_secondary_fixed: #2b1709;

    $on_secondary_fixed_variant: #5b4130;

    $on_surface: #f0dfd7;

    $on_surface_variant: #d7c3b8;

    $on_tertiary: #32320a;

    $on_tertiary_container: #e7e6ad;

    $on_tertiary_fixed: #1d1d00;

    $on_tertiary_fixed_variant: #49491e;

    $outline: #9f8d83;

    $outline_variant: #52443c;

    $primary: #ffb688;

    $primary_container: #6e380f;

    $primary_fixed: #ffdbc7;

    $primary_fixed_dim: #ffb688;

    $scrim: #000000;

    $secondary: #e5bfa9;

    $secondary_container: #5b4130;

    $secondary_fixed: #ffdbc7;

    $secondary_fixed_dim: #e5bfa9;

    $shadow: #000000;

    $source_color: #d97426;

    $surface: #19120d;

    $surface_bright: #413731;

    $surface_container: #261e19;

    $surface_container_high: #312823;

    $surface_container_highest: #3d332d;

    $surface_container_low: #221a15;

    $surface_container_lowest: #140d08;

    $surface_dim: #19120d;

    $surface_tint: #ffb688;

    $surface_variant: #52443c;

    $tertiary: #cac993;

    $tertiary_container: #49491e;

    $tertiary_fixed: #e7e6ad;

    $tertiary_fixed_dim: #cac993;
