@import url("colors-waybar.css");

* {
    font-family: "Hurmit Nerd Font";
    font-weight: bold; 
    font-size: 14px;
}

#custom-notification {
    font-family: "Hurmit Nerd Font";
    font-size: 20px;
    color: @foreground; 
    margin: 2px 0;
}

#waybar {
    background: alpha(@background,0.25);
    border:none;
    border-radius:12px;
    opacity : 1;
}

#window {
    color: @color6;
    background: alpha(@background,0.35);
        /*   border:4px double alpha(@background,0.5);*/
    border-radius:12px;
    margin: 7px 0px;
    padding: 0px 18px;
}

tooltip {
    background: @background; 
    color: @foreground; 
    font-size: 13px;
    border-radius: 12px;
    border: 2px solid @color6;
    margin: 6px;

}

#workspaces {
    background:transparent;
    color: @color5; 
    box-shadow: none;
    text-shadow: none;
    border-radius: 60px;
    transition: 0.2s ease;
    padding: 0px 4px;
    margin: 6px;
}

#workspaces button , #custom-empty_workspace {
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    padding-top:0px;
    padding-bottom:0px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px;
    border-radius:50px;
}

#workspaces button.active {
    background: alpha(@background,.5);
    color: @foreground; 
    transition: all 0.3s ease;
    margin: 4px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:13px;
    padding-right:11px;
    border:none;
    border-radius:60px;
}

#workspaces button:hover {
    background: none;
    box-shadow: inherit;
    color: @color6; 
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    background-color: @color2; 
}

#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    color: @foreground; 
}

#tray menu separator {
    min-height: 10px;
}

#custom-spacer {
    opacity: 0.8;
}

#custom-smallspacer {
    opacity: 0.8;
}

#custom-power {
    color: @foreground; 
    background: rgba(40, 40, 40, 0.9);
    margin: 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#backlight {
    color: @color6; 
    background: rgba(40, 40, 40, 0.0);
    font-weight: normal;
    font-size: 19px;
    margin: 1px 0;
    padding-left: 0px;
    padding-right: 2px;
}


#idle_inhibitor {
    color: @color6; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 4px 0;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: @foreground; 
    font-size: 15px;
    font-weight: 900;
    font-family: "Hurmit Nerd Font";
    /* background: rgba(40, 40, 40, 0.0); */
    background: @color2;
    opacity: 1;
    margin: 6px 6px;
    padding: 0px 15px;
    border-radius:60px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* border: 2px solid @color3; */
    /* border: none; */
}

#pulseaudio {
    font-weight: normal;
    font-size: 18px;
    color: @color6; 
    background: rgba(40, 40, 40, 0.0);
    opacity: 1;
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
}

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: @color2; 
}

#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
    font-weight: normal;
    font-size: 22px;
    color: @foreground; 
}

#mpris {
    color: @foreground; 
    border-radius:60px;
    margin:7px 10px;
    padding-left:14px;
    padding-right: 8px;
    font-weight: bold;
    background: alpha(@background,0.5);
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes blink {
    to {
        color: @color9;
    }
}
*/


/*  sliders  */

#backlight-slider,
#pulseaudio-slider {
    background:alpha(@background,0.25);
    margin:0px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: transparent;
    border:none;
    box-shadow: none;
    min-height:1px;
    min-width:1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 90px;
    min-height: 14px;
    margin:-4px 4px;
    border-radius: 60px;
    background: @color0;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 60px;
    background-color: @color6; 
}


/*      plugging logic    */

#battery.charging,
#battery.plugged {
    color: @foreground; 
}

#battery.critical:not(.charging) {
    color: @color9;
}


/*      appmenu     */
#custom-appmenu{
    font-weight: 900;
    color:@foreground;
    background: inherit;
    font-size: 22px;
    padding-left: 14px;
    padding-right: 18px;
    margin:6px 4px 6px 6px;
    border-radius:60px;
}

#custom-empty_workspace{
  font-size: 22px;
}

/*    --------  center pill --------- */
#idle_inhibitor, #clock{
    background:alpha(@background,0.5);
    background: inherit;
    margin: 4px 0px;
    padding: 0px 8px;
    border-radius:0px;
}

#idle_inhibitor{
    font-size:22px;
}
#clock{
    border-radius:0px 20px 20px 0px;
    padding-right:1.8rem;
    padding-left: 0.5rem;
}

/* ------------   icons and right pill ----------- */
#network, #pulseaudio, #backlight, #upower,
 #cpu, #memory, #custom-wallchange, #custom-logout,
  #custom-cpu, #custom-mem, #custom-notification{
    font-size:20px;
    background:alpha(@background,0.5);
    background: inherit;
    color:@color7;
    margin: 4px 0px;
    padding: 0px 8px;
    border-radius:0px;
}

#network{
  padding-left:16px;
  border-radius:60px 0px 0px 60px;
}

#custom-logout{
    font-size:20px;
    padding-left:4px;
    margin:4px 10px 4px 0px;
    padding-right:6px;
    border-radius:0px 60px 60px 0px;
}

#workspaces,#custom-empty_workspace{
    background: alpha(@background, 0.25);
    background: inherit;
}

#workspaces{
  border-radius:60px 0px 0px 60px;
  margin-right:0px;
  padding-left:8px;
}
#custom-empty_workspace{
  border-radius:0px 60px 60px 0px;
  margin:6px 6px 6px 0px;
}
#custom-cpu,#custom-mem{
    font-size:14px;
    padding:0px;
}
#custom-bgspacer{
    background:alpha(@background,0.5);
    background: inherit;
    padding:4px;
    margin:4px 0px;
}
